/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Cabin;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/cabin-regular.woff2") format("woff");
}

@font-face {
  font-family: Cabin;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/cabin-700.woff2") format("woff");
}


// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

$body-bg: #f5f5f5;
$font-family-base: "Cabin", sans-serif;
$font-weight-base: 400;
$nav-tabs-link-active-bg: #fff;


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.app-container {
  @extend .container-fluid;
  max-width: 760px;
  background-color: $gray-200;
}
