<div class="app-container border shadow-sm rounded">
  <header class="d-flex justify-content-between mb-2" style="height: 6rem;">
    <img src="/assets/lunatech_logo_name.svg" alt="lunatech logo with company name"
         class="py-2 d-none d-sm-block h-100"/>
    <img src="/assets/lunatech_logo.svg" alt="lunatech logo"
         class="py-2 d-block d-sm-none h-100"/>
    <h1 class="text-nowrap text-end px-sm-4 my-auto"><b>Pointing Poker</b></h1>
  </header>
  <main class="pb-2">
    <router-outlet></router-outlet>
  </main>
</div>
